
.vs/UDPBattle/v16/.suo
.vs/UDPBattle/v16/Browse.VC.db
.vs/UDPBattle/v16/Browse.VC.opendb
.vs/UDPBattle/v16/ipch/302181c24278b0b0.ipch
.vs/UDPBattle/v16/ipch/3defb395e65833fb.ipch
.vs/UDPBattle/v16/ipch/dd9edf0496687765.ipch
.vs/UDPBattle/v16/ipch/f620463af5441e19.ipch
.vs/UDPBattle/v16/Solution.VC.db
.vs/UDPBattle/v16/Solution.VC.db-shm
.vs/UDPBattle/v16/Solution.VC.db-wal
